body {
	margin-top: 10em;
	text-align: center;
}

audio {
	border-radius:7px 7px 7px 7px ;
	box-shadow: 15px 15px 20px 0px #777777;
	transition:all 0.2s ease-in-out;
	width: 50%;
}

audio:hover, audio:focus, audio:active {
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	transform: scale(1.02);
}

.identify {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 5% auto;
	padding: 2% 0;
	width: 80%;
}

.foot {
	bottom: 0;
	font-size: 1.2em;
	margin: 1em;
	position: absolute;
}

.leftImg, .rightImg {
	display: inline;
	padding: 2%;
}

.leftImg img, .rightImg img {
	width: 45%;
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 736px)
	and (orientation: portrait) {

	audio {
		box-shadow: 0px 0px 0px 0px;
		height: 100px;
	}

	audio:hover, audio:focus, audio:active {
		box-shadow: 0px 0px 0px 0px;
		transform: scale(1);
	}
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 736px)
	and (orientation: landscape) {

	audio {
		box-shadow: 0px 0px 0px 0px;
		height: 62px;	
	}

	audio:hover, audio:focus, audio:active {
		box-shadow: 0px 0px 0px 0px;
		transform: scale(1);
	}
}

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: portrait) {

	audio {
		box-shadow: 0px 0px 0px 0px;
		height: 100px;
	}

	audio:hover, audio:focus, audio:active {
		box-shadow: 0px 0px 0px 0px;
		transform: scale(1);
	}
}

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) {

	audio {
		box-shadow: 0px 0px 0px 0px;
		height: 62px;
	}

	audio:hover, audio:focus, audio:active {
		box-shadow: 0px 0px 0px 0px;
		transform: scale(1);
	}
}

@media screen and (max-height: 750px){

	.identify {
		display: none;
	}
}

@media screen and (max-height: 350px){

	body {
		margin-top: 2em;
	}
}