body {
	margin: 10em auto;
	text-align: center;
}

audio {
	border-radius:7px 7px 7px 7px ;
	box-shadow: 15px 15px 20px 0px #777777;
	transition:all 0.2s ease-in-out;
	width: 50%;
}

audio:hover, audio:focus, audio:active {
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	transform: scale(1.02);
}

.identify {
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0 auto 5%;
	padding: 3%;
	width: 80%;
	max-width: 1200px;
}

.foot {
	bottom: 0;
	font-size: 1.2em;
	margin: 1em;
	position: absolute;
}

.leftImg, .rightImg {
	display: inline;
	padding: 2%;
}

.leftImg img, .rightImg img {
	width: 45%;
	height: 90%
}

@media screen and (max-height: 768px){

	body {
		margin-top: 2em;
	}

	.identify {
		padding: 2%;
	}
}

@media screen and (max-height: 525px){

	.foot {
		position: initial;
	}
}